 .header--bethel {background: #0f2c52;padding: 1em;}
 @media only screen and (min-width:600px) {.header--bethel {padding: 2em;}}
 @media only screen and (min-width:900px) {.header--bethel {padding: 3em;}}

 .header--bethel__logo img {width: 180px;}
 @media only screen and (min-width:600px) {.header--bethel__logo img {width: auto;}}

 .footer--bethel {
    padding: 3em;
    border-top: 1px solid #ccc;
    line-height: .5;
}
.footer--bethel h1 {
    font-size: 1.5em;
    color: #0f2c52;
    font-family: Helvetica, Arial, sans;
}
.footer--bethel a {
    color: #0069aa;
}
.footer--bethel .button {
    background: #0069aa;
    padding: .75em 1.25em;
    border-radius: .5em;
    border: 0;
    color: #fff;
    display: inline-block;
    margin: .5em auto .5em;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: normal;
    font-family: Helvetica, Arial, sans;
}
.footer--bethel .button:hover {
    background: #0f2c52;
    text-decoration: none;
}

/* Start Header Css on 21-05-2014 */
.bodyDiv {background-color:#FFFFFF}
.tabNavigation {background:#0f2c52;padding: 0 0 0 2em;}
.tab {border-spacing: .5em 0;}
.tab td {background:none;border-bottom:none;padding: 0;}
.tab td div { background:none;padding:0;}
.tab td div a {font-size:1.5em;display:block;padding: .5em 2em;background: #FFC600;border-radius: 6px 6px 0 0;}
.tab td div a:hover {background:#fff;text-decoration:none;}
.tab .currentTab { background:none;padding:0;}
.tab .currentTab div { background:none;padding:0;}
.tab .currentTab a {background: #fff;font-weight: normal; color: #0f2c52;}
.tab .last div {background:none;padding: 0;}
/*.tab tr{background-color:#FFC600}*/
/* End Header */

/*   .pbSubheader.first{background-color:#0F2C52;border-color:#C2E4FE}
 .pbHeader .pbTitle h2, .pbHeader .pbTitle h2 a, .pbHeader .pbTitle h3, .pbHeader .pbTitle h3 a, .pbSubheader h3, .pbSubheader h3 a{color:#C2E4FE}
 .requiredLegend {background-color:#0F2C52}
 .requiredText{color:#C2E4FE}
 .pbSubheader{background-color:#0F2C52;border-color:#C2E4FE}
 .profileSections{background-color:#0F2C52;color:#C2E4FE;font-size:20px;}
 .checkForm{background-color:#E1E1E1;}  */


 .logout {
    position: absolute;
    top: 3em;
    right: 3em;
    color: #fff;
    text-decoration: none;
 }

 .logout:hover {
    text-decoration: underline;
    color: #fff;
 }


/* ======================

Overriding basic sytles with custom Bethel css

========================= */

.tdspecial {
    padding: 2em !important;
}

.bPageBlock .pbBody {
    padding: 0;
}

.pbHeader .pbTitle h2, .pbHeader .pbTitle h2 a, .pbHeader .pbTitle h3, .pbHeader .pbTitle h3 a, .pbSubheader h3, .pbSubheader h3 a {
     font-size: 1.5em;
     font-weight: normal;
     line-height: 3;
     padding: 0 .75em;
}

 .btn, .button, .formulaButton, .btnWhatsNew {
     background: #0069aa;
     margin-bottom: 2em;
     padding: 1em 2em;
     font-size: 1em;
     border-radius: 6px;
     font-weight: normal;
 }

 .detailList {
     margin:0 0 4em;
}

/* Subheader */
.pbSubheader.tertiaryPalette {
    background: #fff;
    border-top: 2px solid #999;
}

/* !important added to override PSEO ref page */
.pbSubheader h3 {
    color: #555 !important;
    font-size: 2.25em !important;
    font-weight: bold !important;
}

 .detailList td {
     padding: .75em !important;
     vertical-align: middle !important;
}

/* Putting a border below each tr */
.editPage .bPageBlock .detailList tr td,
.editPage .bPageBlock .detailList tr th {
    border-bottom: 1px solid #eee;
    vertical-align: middle;
    padding-left: 1em;
    padding-right: 1em;
}

/* Removing the border from the last tr in the table */
.editPage .bPageBlock .detailList tr td.last,
.editPage .bPageBlock .detailList tr th.last {
    border-bottom: none;
}

.detailList td input {
    padding: .5em;
}

 .bPageBlock .detailList .labelCol {
     xpadding: 2em;
     vertical-align: middle;
     text-align: right;
}

 /* Labels */
 .labelCol label {
     font-size: 14px;
     font-weight: normal;
     color: #667;
     text-align: right !important;
}

 .bPageBlock {
     border: none;
 }

 /* Side bar */
 .checkForm {
     border: none !important;
     background: #eee;
     padding: 1em;
 }

 /* Side bar header */
 .profileSections {
     margin: 1em;
     padding: 0;
     border: none !important;
 }

 /* Required Information text */
 .pbSubheader .pbSubExtra {
     margin-top: 2em;
 }

 /* For the covenant page */
 iframe[src*="covenant"]{
     border: 1px solid #333;
 }

 .editPage .bPageBlock .detailList tr td, .editPage .bPageBlock .detailList tr th {
     vertical-align: middle;
     padding: 1em !important;
}

 /* Event registration title */
 .title {
    text-align: center;
    margin :0 auto;
    padding: 1em 0;
    display: block;
    font-size: 2.25em;
    color: #555;
 }

 .apexp .bPageBlock.apexDefaultPageBlock .pbBody {
     margin: 1em 0;
     padding:1em 2em;
}

 /* Customizing title on PSEO ref form */
 .mainTitle {
     font-size: 2em !important;
     font-weight: bold !important;
     line-height: 1.5 !important;
     color: #555 !important;
 }

 body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock{
     border: none;
     border-radius: 0;
 }

 /* using negative margin to remove padding and place
 subheader block to the edge of the table */
 .apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader {
     margin: 0 -2.2em;
 }

/* This originated as the css from the Homepage_widget-left */
        /*.familyinformation , .academicintent , .highschoolexperience , .collegeuniversityexperience , .personalfaithandessay , .references , .covenant , .additionalinfo , .submityourapplication{
            cursor:pointer;
            padding:5px;
            margin:5px;
            display:block;
            font-size:16px;

        }

      .familyinformation:hover , .academicintent:hover , .highschoolexperience:hover , .collegeuniversityexperience:hover , .personalfaithandessay:hover , .references:hover , .covenant:hover , .additionalinfo:hover , .submityourapplication:hover{
            cursor:pointer;
            padding:5px;
            margin:5px;
            display:block;
            background-color:#0F2C52;
            color:#C2E4FE;
            font-size:16px;
        }*/

       .sectioncomplete {
            font-size:13px;
            font-weight:bold;
        }
        .checkForm div{
            display: table;
        }
        .checkForm div input,
        .checkFrom div label {
          display: table-cell;
          vertical-align: top;
        }

        /* This is for the heading on the homepage checklist widget */
        .profileSections{
        }
        .profileSections__header {
          font-size:1.2em;
          display:block;
          padding: .5em 0 1em;
          font-family: Helvetica, Arial, sans-serif;
        }


        #loading-image {
            position: fixed;
            top: 40%;
            left: 50%;
        }
        #loading {
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            position: absolute;
            display: none;
            opacity: 0.5;
            filter: alpha(opacity = 50);
            -moz-opacity: 0.5;
            background-color: #fff;
            text-align: center;
            z-index: 100;
        }
        /*label{
           width: 80% !important;
           display: inline-block;
           vertical-align: top;
           cursor:pointer;
        }*/

/* ================================
  Login form styles
================================ */

.login-table {
    margin: 0 auto;
  }

  .topPanel {
      background:#eee;
      padding: .5em 3em 3em;
      border-radius: .5em;
  }

  .topPanel input {
      padding: .5em;
  }

 .topPanel .btn {
      margin-top: 2em !important;
      padding: .65em 2em;
  }

 a.new-applicant {
    display: table;
    margin: 1.5em auto 1em;
    padding: 1em 2em;
    border-radius: .5em;
    background: #0069aa;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
  }

  .login-title {
    font-weight: bold;
    line-height: 3;
    font-size: 1.5em;
  }
